# Ignore the clickbait data file

clickbait_data.csv

# Ignore virtual environment directories

venv/
env/

# Ignore Python cache files

pycache/
*.pyc

# Ignore Jupyter Notebook checkpoints

.DS_Store

# Ignore environment variable files

.env

#ingnore security and redundancy audit report

SECURITY_AND_REDUNDANCY_AUDIT.md